#filter {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

#filter > div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#filter > div > div > span {
  font-weight: bold;
  font-size: 0.8em;
}

#filter > div > div > div {
  padding: 5px;
}

#filter > div > div > div > label {
  font-size: 0.8em;
  user-select: none;
  cursor: pointer;
}
