#viz {
  background-color: #f9f9f9;
  position: relative;
}

#viz > svg {
  height: calc(100% - 5px);
  width: 100%;
}

tspan:first-child {
  fill: gray;
  font-weight: bold;
}

#viz > #query {
  height: 100%;
  position: absolute;
  width: 100%;
}

#viz > #query > #opts > div {
  position: relative;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 10px 20px;
  margin: 5px 0 5px 5px;
}

#viz > #query > #opts {
  height: 100%;
}

#viz > #query > #opts > #entities {
  height: 100%;
  width: 100%;
  position: absolute;
}

#viz > #query > #opts > div > .disabled {
  display: none;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#viz > #query > #opts > div > button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 4px 20px;
  margin: 20px 10px 10px;
  cursor: pointer;
  outline: none;
  float: right;
}

#viz > #query > #opts > div > button:hover {
  background-color: gray;
  color: white;
}

#viz > #query > #opts > div > #entities > div {
  padding: 5px;
}

#viz > #query > #opts > #entities > g.nodes > g {
  cursor: pointer;
}

#viz > #query > #opts > #entities > g.nodes > g > circle {
  stroke: gray;
  stroke-width: 2px;
  fill: white;
}

#viz > #query > #opts > #entities > g.nodes > g:hover > circle {
  fill: gray;
}

#viz > #query > #opts > #entities > g.nodes > g:hover > text > tspan {
  fill: white;
}
